body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #222222;
    color: white;
}


::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: rgb(51, 51, 51);

}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 123, 255, 1); // bootstrap blue
}

hr {
    background-color: rgb(71, 71, 71);
}

h1,
h1,
h3 {
    font-family: JosefinLight;
    color: white;
}

hr {
    width: 100%;
}

a {
    padding: 0.5rem 1rem;
    color: white
}
a.active {
    background-color: rgb(34, 34, 34);
    color: white;
}

button:not(.wrap) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editable-text:hover {
    cursor: pointer;
    &::after {
        content:'✎';
    }
}

@media (max-width: $break-sm) {
    .app > button {
        display: inherit !important;
    }
    .login {
        position: absolute;
        top: 0;
    }
    .page-title {
        padding-top:4rem;
    }
}
