@font-face {
    font-family: 'Breadley';
    src: local('Breadley'), url('../fonts/BreadleySansRegular-MVyEB.ttf') format('truetype');
}

@font-face {
    font-family: 'JosefinLight';
    src: local('JosefinLight'), url('../fonts/JosefinSansLight-ZVEll.ttf') format('truetype');
}

@font-face {
    font-family: 'SongFromJennifer';
    src: local('SongFromJennifer'), url('../fonts/a song for jennifer.ttf') format('truetype');
}

@font-face {
    font-family: 'SongFromJennifer';
    src: local('SongFromJennifer'), url('../fonts/a song for jennifer bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Junegull';
    src: local('Junegull'), url('../fonts/junegull.ttf') format('truetype');
}